{% extends "base.html" %}

{% block header%}
    {% include 'header_log.html' %}
{% endblock header %}

{% block content %}

<div class="row p-4 gap-4 text-center" style="margin: 0 auto ;">
    <div class="col-12 col-lg-7" style="background-color: white; height: 70vh;">
        <h1 class="p-3" style="color: #ff7b75;">Citas actuales</h1>
    </div>

    <div class="col-12 col-lg-4" style="background-color: white; height: 70vh;">
        <h1 class="p-3" style="color: #ff7b75;">Apartar una cita</h1>
    </div> 
</div>

{% endblock content %}