
<nav class="navbar navbar-expand-md navbar-light shadow-sm p-4 mb-5  rounded">
    <div class="container-fluid ">
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item mx-3">
            <a {% if state == "inicio" %} style="border-bottom: 1px solid rgba(40,252,169,1);" {% endif%} class="nav-link text-white" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item mx-3">
            <a {% if state == "salon" %} style="border-bottom: 1px solid rgba(40,252,169,1);" {% endif%} class="nav-link text-white" href="/salon">Salon</a>
          </li>
          <li class="nav-item mx-3">
            <a {% if state == "dash" %} style="border-bottom: 1px solid rgba(40,252,169,1);" {% endif%} class="nav-link text-white" href="/dash">Dash</a>
          </li>
          <li class="nav-item mx-3 my-md-0 my-2">
            <button type="button" id="out" class="btn btn-danger">Cerrar sesion</button>
          </li>
        </ul>
      </div>
  
      
    </div>
  </nav>
  