{% extends "base.html" %}

{% block header %}
    {% if is_log %}
        {% include "header_log.html" %}
    {% else %}
        {% include "header.html" %}
    {% endif %}
{% endblock header %}

{% block content %}
    <div class="container" style="margin-top: 8rem;">
        <div class="row">
            <!-- Aqui empieza la parte izquierda -->
            <div class="col-12 col-lg-3 my-2">
                <div class="d-flex flex-column justify-content-center gap-4 align-items-center text-center">
                    <h2 class="text-white">Salon</h1>
                    <p style="color: red;">Somos una de las mejores barberias a nivel nacional, siempre enfocada a prestar el mejor servicio a nuestros clientes. Que esperas, reserva tu cita ya!!</p>
                    <button type="button" id="reserva" class="btn btn-danger">Reservar</button>
                </div>
            </div>

            <!-- Aqui empieza la parte derecha -->
            <div class="col-12 col-lg-9 my-2">
                <div class="d-flex justify-content-center align-items-center flex-wrap gap-3">
                    <div class="card" style="width: 14rem; min-height: 20rem; background-color: #ffffff3d;">
                        <img src="/img/barba.jpg" style="max-height: 96px; object-fit: cover;" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title text-white fs-2 mb-3">Rasurada</h5>
                            <h6 class="text-white fs-3 mb-3">$20.000</h6>
                            <p class="card-text text-white" style=" line-height: 1rem;">Rasurado y diseño de barba con el mayor estilo!</p>
                        </div>
                    </div>
                    <div class="card" style="width: 14rem; min-height: 20rem; background-color: #ffffff3d;">
                        <img src="/img/corte.jpg" style="max-height: 96px; object-fit: cover;"  class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title text-white fs-2 mb-3">Corte</h5>
                            <h6 class="text-white fs-3 mb-3">$35.000</h6>
                            <p class="card-text text-white" style=" line-height: 1rem;">Hacemos los mejores cortes de cabello, para que tengas el mejor estilo!</p>
                        </div>
                    </div>
                    <div class="card" style="width: 14rem; min-height: 20rem; background-color: #ffffff3d;">
                        <img src="/img/limpieza.jpg" style="max-height: 96px; object-fit: cover;"  class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title text-white fs-2 mb-3">Limpieza</h5>
                            <h6 class="text-white fs-3 mb-3">$25000</h6>
                            <p class="card-text text-white" style=" line-height: 1rem;">Limpieza facial para que elimines todas las imperfecciones de la piel, al mejor precio!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
