{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="box">
    <div class="box-card">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/login">Iniciar Sesion</a></li>
            <li class="nav-item"><a class="nav-link active" href="/registro">Registro</a></li>
        </ul>
        <div class="tab-content mt-2">
            {{ render_form(formi, novalidate = True)}}
        </div>
    </div>
</div>

{% endblock content %}