
<nav class="navbar navbar-expand-md navbar-light shadow-sm p-4 mb-5  rounded">
    <div class="container-fluid ">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item mx-3">
            <a class="nav-link text-white" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link text-white" href="/salon">Salon</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link text-white" href="#">Tienda</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link text-white" href="#">Promos</a>
          </li>
          <li class="nav-item mx-3 my-md-0 my-2">
            <button type="button" class="btn btn-success">Iniciar sesion</button>
          </li>
          <li class="nav-item mx-3 my-md-0 my-2">
            <button type="button" class="btn btn-danger">Registrarse</button>
          </li>
        </ul>
      </div>

      
    </div>
  </nav>
  
